@media(min-width:0px) and (max-width:375px){
    h1 {
        font-size: 2rem;
    }
    header h3{
        font-size: 1.125rem;
    }
    .Todo-container{
        width: 23rem;
     }
     .newToDo{
        width: 23rem;
    }
}
@media(min-width:376px) and (max-width:768px){
    h1 {
        font-size: 3rem;
    }
    header h3{
        font-size: 1.25rem;
    }
    .Todo-container{
        width: 47rem;
     }
}